#custom-form{
    text-align: -webkit-center;
}
#id-description :is(h2, h5, p), #text-section :is(h2, h3, p, input), .checkboxy label{
    color:white;
}
#modal-submit-button{
    max-width: 200px;
}
#identifiers a{
    color: cornflowerblue;
    text-decoration: underline !important;
}
.badge-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.badge-modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    text-align: center;
}

.modal-button {
    width: 100px;
    background-color: #333;
    color: #fff;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}

.errorMessage{
    color: white;
    padding:3px;
    margin-top:0px;
    background-color: lightcoral;
}

#full_name, #firm, #email, #adres, #kod, #miasto {
box-shadow: inherit;
font-family: inherit;
color: #fff;
padding: 10px 15px;
border: none;
border-bottom: 1px solid #fff !important;
width: 100%;
background: none;
color: #fff;
margin: 36px 0 0;
    &::placeholder {
        color: #eee;
    }
}
.checkboxy {
    display: flex;
    justify-content: space-around;
    gap: 18px;
}
.two-column :is(input, select) {
    min-width: 100px;
    margin: 12px 0 0 !important;
}

#modal-submit-button, #panstwo {
    margin: 36px 0 0;
}

.two-column {
    justify-content: center;
    margin: 26px 0;
    display: flex;
    gap: 18px;
}
@media (max-width: 650px){
    .two-column{
        flex-wrap: wrap;
    }
    .two-column :is(input, select) {
        width: 45%;
    }
}
#badge-modal span{
    font-weight: 700;
    margin: 0 5px;
}
#badge-modal p{
    margin: 18px 50px;
    display: flex;
    justify-content: space-between;
}
#badge-modal .flex-1{
    flex:1;
    text-align: left;
}
#badge-modal .flex-2{
    flex:2;
    text-align: left;
}
#badge-modal .modal-message{
    justify-content: center !important;
}
@media (max-width: 959px){
    .badge-modal-content{
        width: 90%;
    }
}
@media (max-width: 650px){
    .two-column{
        flex-wrap: wrap;
    }
    .two-column :is(input, select) {
        width: 45%;
    }
    #badge-modal span{
        text-align: center !important;
    }
    #badge-modal p{
        margin: 18px;
        justify-content: center;       
        flex-wrap: wrap;
    }
}

input[type=radio]:checked:before {
    background-color: black;
}

button{
    margin:18px !important;
}