.chevron-slide{
    height: 280px;
    display: flex;
    gap: 10px;
    border: 5px solid;
    border-radius: 25px;
    box-shadow: 4px 4px 7px 2px;
    
}
.chevron-slide .head-container{
    text-align: center;
    align-self: center;
    width: 25%;
}
.chevron-slide .head-container img {
    height: auto;
    max-width: 45%;
    border: 3px solid gray;
    border-radius: 50%;
}
.chevron-slide .text-container{
    width: 75%;
}
.chevron-slide .text-container :is(h3,h4,h5,p){
    margin-top: 18px;
}
.text-container .lectur-time{
    color: black;
}
.open-desc{
    cursor: pointer;
}