.display-none{
    display:none;
}
.main-container-dostepFTP {
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-width: 600px;
}
.main-container-dostepFTP ul li {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background: #FCF8FF;
    padding: 10px;
    border-radius: 5px;
}
.main-container-dostepFTP ul li div {
    max-width: 65%;
    display: flex;
    gap: 5px;
    padding: 5px;
}
.main-container-dostepFTP ul li form {
    text-align: end;
    padding: 5px;
}
.main-container-dostepFTP input {
    word-break: break-all;
    background: inherit;
    border: black solid 1px;
    border-radius: 5px;
    color: black;
    padding: 4px 10px;
}
.main-container-dostepFTP ul li form input:hover {
    background: #eeeeee;
    color: #333;
    transition: .2s;
}
.dodaj-plik, .dodaj-folder {
    padding: 10px 0;
    display: flex;
    gap: 20px;
}
.dodaj-plik > input[type=file] {
    border: none;
}
.dodaj-folder > input[name=nowy_katalog] {
    width: 70%;
    text-transform: none;
}
.komunikat {
    word-break: break-all;
    background: #333;
    padding: 15px;
    border-radius: 5px;
    color: white;
}
.powrot {
    display: flex;
    width: 100px;
    background: #333;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    text-decoration: none;
    transition: .2s;
}
.powrot:hover {
    color: #eeeeee;
}
.powrot:before {
    content: "\21B5";
    padding: 0 5px;
    font-size: 30px;
}
.dodaj-plik #file-upload-button {
    padding: 4px 10px !important;
}

.galeria-zdjec, .galeria-zdjec div{
    display:flex;
    text-align: center;
}

.galeria-zdjec{
    flex-wrap: wrap;
    gap: 10px;
}

.galeria-zdjec div{
    flex-direction: column;
    justify-content: space-between;
    width:200px;
    height: 270px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 0;
}
.galeria-zdjec a{
    min-height: 150px;
}

.galeria-zdjec p{
    margin:3px;
}
