.vc_edit-form-tab:has(.exhibitor1) {
    justify-content: center;
}

.vc_edit-form-tab:has(.exhibitor1) .vc_column {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 25%;
    min-width: 150px;
    padding: 5px !important;
}

.vc_edit-form-tab:has(.exhibitor1) :is(.wpb_element_label, .edit_form_line) {
    width: 100% !important;
    text-align: center;
}

.vc_edit-form-tab:has(.exhibitor1) textarea {
    width: 100%;
    height: 150px;
}

.wpb_el_type_checkbox.uncode-checkbox .wpb_element_label {
    max-width: 100% !important;
    margin: 0 !important;
}

.wpb_el_type_param_group[data-vc-shortcode-param-name="countdowns"],
.wpb_el_type_param_group[data-vc-shortcode-param-name="sticky_buttons"] {
    width: 100% !important;
}

textarea[name="sticky_buttons_sticky_buttons_color_text"] {
    max-height: 70px !important;
}

.vc_ui-panel-window[data-vc-shortcode="my_custom_element"] .on-off-switch {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.pliki_tab {
    display: none;
}

/* KATALOG WYSTAWCÓW <-------------------------------------------------------------------------< */
.vc_ui-panel-window[data-vc-shortcode="katalog_wystawcow"] .vc_shortcode-param[data-vc-shortcode-param-name="color"],
.vc_ui-panel-window[data-vc-shortcode="katalog_wystawcow"] .vc_shortcode-param[data-vc-shortcode-param-name="btn_color"],
.vc_ui-panel-window[data-vc-shortcode="katalog_wystawcow"] .vc_shortcode-param[data-vc-shortcode-param-name="btn_color_text"] {
    display: flex;
    flex-direction: column;
    width: 33% !important;
}
.vc_ui-panel-window[data-vc-shortcode="katalog_wystawcow"] .vc_shortcode-param[data-vc-shortcode-param-name="color"] .edit_form_line,
.vc_ui-panel-window[data-vc-shortcode="katalog_wystawcow"] .vc_shortcode-param[data-vc-shortcode-param-name="btn_color"] .edit_form_line,
.vc_ui-panel-window[data-vc-shortcode="katalog_wystawcow"] .vc_shortcode-param[data-vc-shortcode-param-name="btn_color_text"] .edit_form_line {
    width: 100% !important;
    padding-right: 18px;
}

/* ALL <-------------------------------------------------------------------------< */
.wpb_el_type_param_group[shortcode-param-name="header_custom_logotypes"] .vc_column,
.vc_shortcode-param[data-vc-shortcode-param-name="videos"],
.vc_shortcode-param[data-vc-shortcode-param-name="logotypes_files"],
.vc_shortcode-param[data-vc-shortcode-param-name="content"],
.vc_shortcode-param[data-vc-shortcode-param-name="header_custom_buttons_header_custom_button_link"],
.vc_shortcode-param[data-vc-shortcode-param-name="header_custom_buttons_header_custom_button_text"],
.vc_shortcode-param[data-vc-shortcode-param-name="header_custom_logotypes_logotypes_files"],
.vc_shortcode-param[data-vc-shortcode-param-name="contact_items"],
.vc_shortcode-param[data-vc-shortcode-param-name="contact_content"],
.vc_shortcode-param[data-vc-shortcode-param-name="header_logo_marg_pag"] {
    width: 100% !important;
}
.vc_shortcode-param[data-vc-shortcode-param-name="videos_video_title"],
.vc_shortcode-param[data-vc-shortcode-param-name="videos_video_iframe"],
.vc_shortcode-param[data-vc-shortcode-param-name="header_custom_buttons"],
.vc_shortcode-param[data-vc-shortcode-param-name="header_custom_logotypes"],
.vc_shortcode-param[data-vc-shortcode-param-name="button_on"] {
    width: 50% !important;
}
/* .wpb_el_type_param_group[data-vc-shortcode-param-name="profile_images"] {
    width: 40% !important;
} */
/* .vc_shortcode-param[data-vc-shortcode-param-name="header_simple_mode"],
.vc_shortcode-param[data-vc-shortcode-param-name="header_bg_position"] {
    width: 25% !important;
} */
.vc_shortcode-param[data-vc-shortcode-param-name="element"],
.vc_shortcode-param[data-vc-shortcode-param-name="file"]
/* .vc_shortcode-param[data-vc-shortcode-param-name="profile_buttons"],
.vc_shortcode-param[data-vc-shortcode-param-name="profile_border"],
.vc_shortcode-param[data-vc-shortcode-param-name="profile_reverse_block"]  */
{
    width: 20% !important;
}
.vc_shortcode-param[data-vc-shortcode-param-name="color"],
.vc_shortcode-param[data-vc-shortcode-param-name="btn_color"],
.vc_shortcode-param[data-vc-shortcode-param-name="btn_color_text"],
.vc_shortcode-param[data-vc-shortcode-param-name="btn_color_shadow"] {
    width: 15% !important;
}
.vc_shortcode-param[data-vc-shortcode-param-name="videos"] iframe {
    display: none !important;
}
.vc_shortcode-param[data-vc-shortcode-param-name="contact_items"] .vc_param_group-wrapper {
    display: flex !important;
}

.vc_shortcode-param[data-vc-shortcode-param-name="header_conferences_title"] textarea {
    height: 60px !important;
}

/* PROFILE <-------------------------------------------------------------------------< */
/* .vc_shortcode-param[data-vc-shortcode-param-name="profile_buttons"] .edit_form_line,
.vc_shortcode-param[data-vc-shortcode-param-name="profile_border"] .edit_form_line,
.vc_shortcode-param[data-vc-shortcode-param-name="profile_border_color"] .edit_form_line,
.vc_shortcode-param[data-vc-shortcode-param-name="profile_title_checkbox"] .edit_form_line {
    display: flex;
    flex-direction: column;
    text-align: start;
}
.vc_shortcode-param[data-vc-shortcode-param-name="profile_image"] .edit_form_line {
    display: contents !important;
} */


/* .vc_ui-panel-window[data-vc-shortcode="my_custom_element"] .vc_edit-form-tab-control[data-tab-index='2'] {
    visibility: hidden;
} */

/* KONTAKT INFO*/
.vc_shortcode-param[data-vc-shortcode-param-name="contact_object"] :is(.wpb_element_label, .edit_form_line) {
    display: none;
}

/* INPUT RANGE (custom element)*/
.vc_shortcode-param .custom-input-range input {
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    border-radius: 3px;
    background: #ddd;
    padding: 0 !important;
} 

.contact-container {
    width: 100%;
    margin: 20px;
    gap: 10px;
}

.contact-container,
.contact-text-container {
    display: flex;
    align-items: center;
}

.contact-container p {
    width: 70px;
}

.contact-text-container {
    flex-direction: column;
    width: 100%
}

.contact-text-container div {
    display: flex;
    align-items: center;
    width: 100%
}

.contact-text-container label {
    flex: 1;
}

.contact-text-container input {
    flex: 3;
}

.photo-container {
    display: flex;
    flex-direction: column;
}

.photo-container img {
    cursor: pointer;
}
