/* Adress Ptak Warsaw Expo */
#ptakAdress, #socialMedia {
    min-height: 240px;
    max-width: 500px;
    margin:auto
}

#ptakAdress{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.custom-text-ptakAdress li {
    font-size:30px !important;
    font-weight: 700;
    color:black;
    line-height: 1.2;
}
@media (max-width: 570px) {
    .custom-text-ptakAdress li {
        font-size:24px !important;
    }
}
/* END Adress Ptak Warsaw Expo */

/* Dodaj do Kalendarza */
#calendar-add{
    background: no-repeat;
    background-size: cover;
    background-image:url('/doc/background.jpg');
    width: 100%;
}
#calendar-add h1{
    font-size:60px;
}
#calendar-add :is(.h1, h2, h3){
    font-weight:700;
}
.custom-container-calendar-icons, .custom-header-calendarAdd{
    display: flex;
    justify-content: space-evenly;
    gap:10px;
    margin-top: 20px;
}
.custom-inner-calendarAdd, .custom-container-calendar-icons{
    max-width: 1200px;
}
.custom-inner-calendarAdd img {
    object-fit: contain;
    max-width: 300px !important;
}
.custom-container-calendar-icons{ 
    top:-30px;
    position: relative; 
}
.custom-inner-calendar-icons{
    margin-top:30px;
}
.custom-container-calendar-add{
    flex:1;
    min-width: 100px;
    max-width: 180px;
    background: white;
    padding:5px 0;
    margin:auto;
}
.custom-container-calendar-add p{
    color:black;
    margin:5px;
    line-height: 1.2;
}
.custom-container-calendar-add img, .custom-header-calendarAdd img{
    max-height: 150px;
    width: auto;
    max-width:100%;
}
@media (max-width:959px){
    .custom-container-calendar-icons{
        padding: 10px;
    }
}
@media (max-width:570px){
    .custom-container-calendar-icons, .custom-header-calendarAdd {
    flex-wrap: wrap;
    }
    .custom-container-calendar-add{
        max-width: 32%;
    }
    .custom-container-calendar-add img{
    max-height: 100px;
    max-width:100%;
    }  
}
/* END Dodaj do Kalendarza */

/* Dokumenty */
#download {
    display:flex;
    align-items: center;
    color:white; 
    border: 0;
    max-width: 500px;
    margin: auto;
}
@media (max-width:959px){
    .t-m-display-none{
        display:none;
    }
}
/* END Dokumenty */

/* Exhibitors-benefits */
.custom-container-exhibitors-benefits {
    margin: 0 auto;
}
.custom-row-benefits {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.custom-benefits {
    width: 100%;
    display: flex;
    gap: 36px;
}
.custom-benefit-item {
    width: 33%;
}
.custom-benefit-img img {
    width: 100%;
}
.custom-benefit-text {
        padding:18px 0;
    }

@media (max-width:570px) {
    .custom-benefits {
        flex-direction: column;
    }
    .custom-benefit-item {
        width: 100%;
    }  
}
/* END Exhibitors-benefits */

/* faq */
.pytanie{
    cursor:pointer;
}
.pytanie-odpowiedz{
    max-width: 750px; 
}
.pytanie::after{
    content: ">";
    float: right;
    top: 50%;
    transform: rotate(0);
    transition: transform 200ms ease-out;
}
.active.pytanie::after{
    transform: rotate(90deg);
}
.odpowiedz{
    padding-top: 0px !important;
    margin-left: 20px;
    display: none;
}
/* Footer */
.custom-footer-bg {
    position: relative;
    padding: 36px;
    background-size: cover;
}
.custom-footer-bg:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: .4;
}
.custom-footer-bg-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 36px;
}
.custom-footer-bg-limit {
    max-width: 950px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 36px;
}
.custom-footer-images-bg img {
    width: 100%;
    object-fit: contain;
}
.custom-footer-bg, .custom-footer-images-bg {
    background-position: center;
    background-repeat: no-repeat;
}
.custom-footer-logo-pwe {
    width: 100%;
    display: flex;
    float: left;
}
.custom-footer-logo-pwe img {
    width: 140px;
}
.custom-footer-title-section h4 span {
    color: white;
    width: auto;
}
.custom-footer-title-section h2 {
    margin: 0;
    width: auto !important;
}
.custom-footer-title-pl {
    color: white;
    font-size: 96px;  
}
.custom-footer-title-en {
    color: white;
    font-size: 84px; 
}
@media (min-width: 320px) and (max-width: 1200px) { 
    .custom-footer-title-pl { 
        font-size: calc(24px + (96 - 24) * ( (100vw - 320px) / ( 1200 - 320) )); 
    } 
    .custom-footer-title-en { 
        font-size: calc(24px + (84 - 24) * ( (100vw - 320px) / ( 1200 - 320) )); 
    } 
}
.custom-footer-benefits {
    display: flex;
    justify-content: space-around;
}
.custom-footer-benefits p {
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    color: white;
}
.custom-footer-nav {
    background-color: black;
    padding: 36px;
}
.custom-footer-nav-wrapper {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    gap: 18px;
}
.custom-footer-nav-left-column, 
.custom-footer-nav-right-column {
    display: flex;
    gap: 18px;
}
.custom-footer-nav-left-column {
    width: 25%;
}
.custom-footer-nav-right-column {
    width: 75%;
}
.custom-footer-nav-logo-column {
    width: 100%;
}
.custom-footer-nav-column {
    width: 33.333%;
}
.custom-footer-nav-column h5 span {
    color: white;
}
.custom-footer-nav-logo-top,
.custom-footer-nav-logo-bottom {
    max-width: 200px !important;
}
.custom-footer-nav-logo-bottom img {
    padding: 8px;
    max-height: 150px;
    object-fit: contain;
}
.custom-footer-nav-links ul {
    padding: 0 !important;
    list-style: none !important;
}
.custom-footer-nav-links ul li a {
    color: white !important;
}
@media (max-width:1000px){
    .custom-footer-benefits {
        flex-direction: column;
        justify-content: center;
    }
    .custom-footer-nav-column h5 span {
        font-size: 16px;
    }
    .custom-footer-nav-left-column {
        width: 30%;
    }
    .custom-footer-nav-right-column {
        width: 70%;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .custom-footer-nav-column {
        width: 47%;
    }
}
@media (max-width:720px) {
    .custom-footer-nav-column h5 span {
        font-size: 14px;
    }
    .custom-footer-nav-links ul li a {
        font-size: 14px;
    }
}
@media (max-width:640px) {
    .custom-footer-nav-wrapper {
        flex-direction: column;
    }
    .custom-footer-nav-left-column {
        width: 100%;
    }
    .custom-footer-nav-logo-top,
    .custom-footer-nav-logo-bottom {
        margin: 0 auto;
    }
    .custom-footer-nav-right-column {
        width: 100%;
    }
}
@media (max-width:500px) {
    .custom-footer-bg {
        padding: 18px;
    }
    .custom-footer-title-section h4 {
        text-align: center;
        width: auto;
    }
    .custom-footer-title-section h4 span {
        font-size: 16px;
    }
    .custom-footer-nav-right-column {
        flex-direction: column;
    }
    .custom-footer-nav-column {
        width: 200px;
        margin-left: auto;
        margin-right: auto;
    }
}
/* END Footer */

/* for-exhibitors */
.custom-container-exhibitors {
    margin: 0 auto;
}
.custom-content-exhibitors-item{
    width: 100%;
    display:flex;
    justify-content: center;
    gap: 36px;
    padding-bottom: 36px;
}
.custom-exhibitors-image-block, .custom-exhibitors-text-block{
    width: 50%;
}
.custom-exhibitors-image-block img {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
}

@media (max-width:768px) {
    .custom-content-exhibitors-item{
        flex-direction: column;
    }
    .column-reverse {
        flex-direction: column-reverse !important;
    }
    .custom-exhibitors-image-block,
    .custom-exhibitors-text-block {
        width: 100%;
    }
    .custom-exhibitors-text {
        padding: 18px 0;
    }  
}

/* for-visitors */

.custom-content-visitors-item{
    width: 100%;
    display:flex;
    justify-content: center;
    gap: 36px;
    padding-bottom: 36px;
}
.custom-visitors-image-block, .custom-visitors-text-block{
    width: 50%;
}
.custom-visitors-image-block img {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
}
@media (max-width:768px){
    .custom-content-visitors-item{
        flex-direction: column;
    }
    .custom-visitors-image-block,
    .custom-visitors-text-block {
        width: 100%;
    }
    .custom-visitors-text {
        padding: 18px 0;
    }
}

/* gallery */

.custom-gallery-wrapper {
    margin: 0 auto;
}
.custom-gallery-section {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 36px;
}
.custom-gallery-thumbs-wrapper, .custom-gallery-desc-wrapper{
    width: 50%;
}
.custom-gallery-thumbs {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}
.custom-gallery-desc {
    background-color: #eaeaea;
}
.custom-gallery-desc-wrapper .custom-btn-container, 
.custom-gallery-thumbs-wrapper .custom-btn-container {
    display: flex;
    justify-content: left;
    text-align: center;
} 
.custom-gallery-thumbs-top, 
.custom-gallery-thumbs-bottom {
    display: flex;
    width: 100%;
    gap: 10px; 
}
.custom-gallery-thumbs-top img, 
.custom-gallery-thumbs-bottom img {
    width: 50%;
}
@media (max-width: 960px) {
    .custom-gallery-section {
        flex-direction: column;
    }
    .custom-gallery-thumbs-wrapper {
        width: 100%;
    }
    .custom-gallery-desc-wrapper {
        width: 100%;
    }
}
@media (max-width: 500px) {
    .custom-gallery-desc-wrapper .custom-btn-container, 
    .custom-gallery-thumbs-wrapper .custom-btn-container {
        justify-content: center;
    }
}
/* Header */
.custom-element-header .custom-element-header-container {
    min-height: 800px;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    display: flex;
}
.custom-element-header .custom-element-header-flex {
    display:flex;
}

.custom-element-header .custom-header-background {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.custom-element-header .custom-header-logo {
    width: 450px;
    height: 250px;
    background-size: contain;
}
.custom-element-header .header-button a {
    padding: 0 !important;
    height: 70px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    margin: 0 30px;
}
.custom-element-header .custom-header-partner-fair img {
    filter: brightness(0) invert(1);
    max-height: 100px;
    margin: 0 15px;
}
.custom-element-header .custom-element-header-wrap {
    flex-wrap: wrap;
    justify-content: center;
}
.custom-partner-background{
    background-color: rgba(0, 0, 0, 0.6);
}
@media (max-width:600px){
    .custom-element-header .custom-header-logo {
        width: 80%;
    }
}
/* END Header */

/* kontakt */
.raw-custom-container{
    display:flex; 
    align-items: center;
}
.custom-container-contact img{
    max-width:150px !important;
}
@media (max-width:860px){
    .raw-custom-container{
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        flex-direction: column;
    }
    .raw-custom-container p{ 
        min-width: 160px;
    }
}

/* main-timer*/
.row-container:has(.custom-container-main-timer) .row-parent {
    padding: 0 !important;
}
.custom-main-timer-before,
.custom-main-timer-after {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    gap: 8px
}
.main-timer-countdown {
    text-align: center;
    font-weight: 700;
}
#customBtn {
    transform-origin: center !important;
}
.custom-main-timer-before p,
.custom-main-timer-after p {
    margin: 0 !important;
    font-size: 20px;
}
.custom-main-timer-btn {
    padding: 8px 0;
}
@media (max-width:570px){
    .custom-main-timer-before p,
    .custom-main-timer-after p {
        font-size: 16px;
    }
}

/* niePrzegap */
.custom-container-niePrzegap, .custom-container-calendar-niePrzegap{
    display:flex;
}
.custom-container-niePrzegap{
    position: fixed;
    left: -250px;
    top: 30%;
    z-index: 11;
    transition: left 0.3s ease;
}
.custom-container-niePrzegap:hover,
.niePrzegap-hover,
.custom-container-niePrzegap.hovered-cal {
    left: 0 !important;
}
.row-container:has(.custom-container-niePrzegap) .row-parent,
.row-container:has(.custom-container-niePrzegap) .wpb_column  {
    padding: 0 !important;
}
.custom-inner-niePrzegap{
    width: 250px !important;
    height: 250px;
    background-color:#fff;
    border: 4px solid #000;
    padding: 10px 0;
}
.custom-pointer-niePrzegap {
    margin: -6px -30px;
}
.custom-pointer-niePrzegap i{
    text-shadow: 5px 0 #fff;
}
.custom-header-niePrzegap h4{
    margin:10px;
}
.custom-container-calendar-niePrzegap{
    display:flex;
    margin:0 5px;
    gap: 5px;
}
.custom-container-calendar-niePrzegap img{
    height:50px !important;
    object-fit: contain;
}
.custom-container-calendar-niePrzegap p{
    text-wrap: wrap;
    width: 80%;
}
.custom-pointer-wrapper-niePrzegap {
    display: flex;
}
.custom-pointer-wrapper-niePrzegap i {
    color:black;
    position: absolute;
    left: 251px;
}
.custom-vertival-text-niePrzegap {
    display: flex;
    height: 250px;
    position: absolute;
    left: 249px;
    background-color: black;
    border-radius: 0 8px 8px 0;
}
.custom-vertival-text-niePrzegap p {
    color: white;
    padding: 11px 2px;
    margin: 0;
    text-align: center;
    font-weight: 600;
    writing-mode: vertical-rl;
    text-orientation: upright;
    letter-spacing: 0px;
}
.link-more{
    margin:10px;
    text-decoration: underline;
}
@media (max-width:570px){
    #niePrzegap{
        display:none;
    }
}

/* Organizator */
.custom-organizator-video{
    height:500px;
    position: relative;
    overflow: hidden;
}
.custom-organizator-video iframe{
    min-width: 180%; 
    height:120vh; 
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}
.custom-organizator-text{
    position: relative;
}
.custom-organizator-text .custom-box-top-left-white, .custom-organizator-text .custom-box-top-left-black{
    margin-bottom: -10px !important;
}
.custom-organizator-text .custom-box-bottom-right-white, .custom-organizator-text .custom-box-bottom-right-black{
    margin-top: -20px !important;
}
.custom-inner-organizator{
    max-width:1200px;
}
.custom-organizator-header{
    margin:0;
}
@media (max-width:960px){
    .custom-organizator-video iframe{
        height:160vh !important;
    }
    .custom-organizator-text{
        padding: 1px 20px 50px 20px !important;
        }
}
@media (max-width:570px){
    .custom-organizator-video iframe{
        min-width: 250% !important; 
    }
    .custom-organizator-text{
        padding: 1px 36px 50px 36px !important;
        }
}

/* socialMedia */
#socialMedia h4{
    margin-top:0 !important;
}
.custom-block-socialMedia{
    position: relative;
}
@media (max-width: 569px){
    .custom-facebook{
        transform-origin: center !important;
    }
}
.absolute-facebook-Img{
    position: absolute;
    left:15%;
    top: 45%;
    transform: translateY(-50%);
}
@media (max-width:400px){
    .absolute-facebook-Img{
        left:5%;
        top: 50%;
        max-width: 66px !important;
        width: 15vw;
    }
}

/* visitors-benefits */

.custom-visitors-benefits-row {
    padding-top: 18px;
    width: 100%;
    text-align: center;
}
.custom-visitors-benefits {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 36px;
}
.custom-visitors-benefits-item {
    width: 33%;
}
@media (max-width:768px) {
    .custom-visitors-benefits {
        gap: 18px;
    }
    .custom-visitors-benefits-item-heading h4 {
        font-size: 16px;
    }
}
@media (max-width:570px) {
    .custom-visitors-benefits {
        flex-direction: column;
    }
    .custom-visitors-benefits-item {
        width: 100%;
    }  
    .custom-visitors-benefits-item-heading h4 {
        font-size: 20px;
    }
}

/* route */

.custom-route-title-wrapper h4 {
    width: auto !important;
}
.custom-route-transport-item-img {
    display: flex;
    align-items: center;
    padding-right: 18px;
}
.custom-route-transport-item-img img {
    width: 60px !important;
    min-width: 60px;
}
.custom-route-image-bg {
    aspect-ratio: 16/9;
    background-position: center;
    background-size: cover;
}
.custom-route-image-bg h3 {
    font-size: 22px !important;
    max-width: 90%;
    padding: 8px;
    margin: 0;
}
.custom-route-area-wrapper {
    padding-top: 36px;
    display: flex;
    gap: 36px;
    flex-direction: column;
}
.custom-route-area-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px;
}
.custom-route-area-block img {
    width: 80px;
    padding: 0 18px;
}
.custom-route-area-item-text {
    align-items: center;
}
.custom-route-area-item-text h5 {
    margin: 0;
}
@media (max-width:960px) {
    #route{
        padding: 36px 0;
    }
    .custom-route-transport-wrapper, 
    .custom-route-area-wrapper {
        flex-direction: column;
    }
    .custom-route-map-block, 
    .custom-route-transport-block, 
    .custom-route-image-bg-block, 
    .custom-route-area-block {
        width: 100% !important;
    }
    .custom-route-image-bg h3 {
        font-size: 18px !important;
    }
    .custom-route-area-block {
        padding: 36px 0;
    }
}
@media (max-width:600px){
    .custom-align-center {
        font-size: 16px !important;
    }
    .custom-route-transport-item {
        flex-direction: column;
    }
    .custom-route-transport-item-text {
        text-align: center;
    }
    .custom-route-transport-item-img,
    .custom-route-transport-item-text h5 {
        padding: 0;
        width: inherit !important;
        justify-content: center;
    }
}

/* org-info */

.row-container:has(.custom-container-org-info) .row-parent {
    padding: 0 !important;
}
.custom-container-org-info a {
    font-weight: 600;
    color: blue;
}   
.custom-org-info-header {

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.custom-org-info-header h1 {
    text-align: center;
    padding: 100px 18px;
    margin: 0 auto;
    max-width: 1200px;
}
.custom-org-info-fixed-width {
    margin: 0 auto;
    max-width: 1200px;
}
#dane-kontaktowe, #wazne-informacje, #procedury-stoisk, #rozladunek, #dokumenty,
#dane-kontaktowe_en, #wazne-informacje_en, #procedury-stoisk_en, #rozladunek_en, #dokumenty_en {
    scroll-margin: 90px;
} 
.custom-container-org-info a{
    text-decoration: underline;
}
/* logos catalog */
.custom-logos-gallery-slider {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding-bottom: 36px !important;
}
.slick-track {
    display: flex !important;
    gap: 20px !important;
}
.custom-logos-title {
    width: 1200px;
    margin: 0 auto;
}
.custom-logo-item {
    width: 140px;
    min-width: 100%;
    aspect-ratio: 3/2;
    object-fit: contain;
}
@media (max-width: 600px) {
    .custom-logos-gallery-wrapper {
        justify-content: space-around;
        gap: 16px;
    }
    .custom-logo-item {
        width: 120px;
    }
}
/* dots styles */
.slick-dots-viewport {
    overflow: hidden;
    display: block;
    padding: 0;
    margin: 20px auto;
    height: auto;
    position: relative;
}
.slick-dots-viewport .slick-dots {
    padding: 5px 0 !important;
    display: flex;
    transition: all 1s;
    position: relative;
    margin: 0;
    list-style: none;
    transform: translateX(0);
    bottom: 0;
}
.slick-dots-viewport .slick-dots li {
    width: 10px;
    height: 10px;
    margin: 0 8px;
    opacity: .5;
    border: none;
    border-radius: 50%;
}
.slick-dots-viewport .slick-dots li button {
    font-size: 10px;
    line-height: 100%;
    display: block;
    width: 10px;
    height: 10px;
    padding: 5px 0;
    margin: 0 8px;
    cursor: pointer;
    color: transparent;
    outline: 0;
    background: transparent;
}
.slick-dots-viewport .slick-dots li {
    transform: scale(1);
}
.slick-dots-viewport .slick-dots li.tiny {
    transform: scale(0.25);
}
.slick-dots-viewport .slick-dots li.small {
    transform: scale(0.75);
}
.slick-dots-viewport .slick-dots li.slick-active {
    transform: scale(1.5);
    opacity: 1;
}
.slick-dots li button:before {
    display: none;
}
.slick-dotted.slick-slider {
    margin-bottom: 0px !important;
}

/* wydarzenia */
.custom-wydarzenia-header h1 {
    max-width: 600px;
    margin: 0 auto;
}
.media-logos .custom-logos-gallery-wrapper{
    padding-top: 0 !important;
}

/* voucher */
.custom-container-voucher{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
@media (max-width:960px){
    .custom-container-voucher{
        flex-direction: column;
    }
}

/* zabudowa */
.custom-container-zabudowa, .custom-display-flex{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
@media (max-width:960px){
    .custom-container-zabudowa{
        flex-direction: column;
    }
    .custom-container-zabudowa .custom-block-1{
        order:2;
    }
    .custom-container-zabudowa .custom-block-2{
        order:1;
    }
}

/*Promote yourself */
.custom-content-promote-item {
    padding:0 5px 25px 5px;
    flex-wrap: wrap;
}
.custom-content-promote-item .btn-icon-right {
    color:white !important;
}
.custom-content-promote-item .custom-content-promote-element {
    flex:1;
    justify-content: space-between;
    align-items: center;
    min-width: 250px;
    display:flex !important;
}
.custom-content-promote-item div .img-bg  {
    width: 250px;
    min-height: 150px;
}
.custom-content-promote-item div .btn {
    transform: none !important;
    white-space: unset !important;
    font-size: 16px;
}
.custom-content-promote-item div .btn-container {
    display: flex;
    justify-content: center;
}
.custom-content-promote-item__help {
    width: 80%;
}
.custom-hide-promote {
    width: 66%;
    margin: 0 auto;
}
@media (max-width:950px){
    .custom-content-promote-item__help {
        width: 100%;
    }
    .custom-hide-promote {
        width: 100%;
    }
}
.promote-element-background-element {
    background: lightgrey;
}
/* Widget-header*/
.custom-widget-info-header {
    position: absolute;
    left: 10px;
    bottom: 85px;
    z-index: 12;
    color: white;
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.6);
    border: 5px solid rgba(255, 255, 255, 0.63);
}
@media (max-width:1250px){
    .custom-widget-info-header {
        position: static;
        margin: 25px 0;
    }
}

/* all */
.full-width:has(.custom_element){
    padding:0 !important;
}

.half-block-padding-top{
    padding-top:18px !important;
}
.list-style-none{
    list-style: none !important;
}
.row-container:has(#zabudowa, #voucher) .custom-strong {
        font-weight:700;
    }
.custom_element :is(h2 ,h3, h4, h5){
    width: fit-content;
}
.custom_element img{
    vertical-align: bottom; 
}
.custom-min-media-wrapper{
    min-width:240px;
}
.custom-btn-container{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 18px;
}
.custom-btn-container a{
    transform-origin: center !important;
    min-width:240px;
    margin:3px;
}
.link-text-underline a{
    text-decoration:underline;
}

.pl_PL, .en_US, .custom-display-none{
    display: none;
}
.text-centered{
    text-align: -webkit-center;
}
.custom-line-height{
    line-height: 1.3;
}
.custom-shadow-black{
    box-shadow: 9px 9px 0px -5px black;
}
.custom-shadow-border-black, .custom-container-calendar-icons .custom-container-calendar-add{
    box-shadow: 9px 9px 0px -5px black;
    border: 2px solid black;
}
.custom-color{
    color:white;
}
.custom-box-top-left-white{
    margin-left: -18px;
    box-shadow: -3px -3px white;
    width: 170px !important;
    height: 40px;
}
.custom-box-top-left-black{
    margin-left: -18px;
    box-shadow: -3px -3px black;
    width: 170px !important;
    height: 40px;
}
.custom-box-bottom-right-white {
    box-shadow: 3px 3px white;
    width: 170px !important;
    height: 40px;
    float: right;
    margin-right: -18px;
}
.custom-box-bottom-right-black {
    box-shadow: 3px 3px black;
    width: 170px !important;
    height: 40px;
    float: right;
    margin-right: -18px;
}
.custom-full-width {
    width: 100%;
}
.custom-half-width {
    width: 50%;
}
.custom-align-left {
    text-align: left;
}
.custom-align-center {
    text-align: center;
}
.custom-uppercase {
    text-transform: uppercase;
}
.custom-full-gap {
    display: flex;
    gap: 36px;
}
.custom-flex {
    display: flex;
}
.custom-column {
    display: flex;
    flex-direction: column;
}
strong {
    color: inherit !important;
}
.logo-invert-white img{
    filter: brightness(0) invert(1);
}
.text-shadow-black{
    text-shadow: 0 0 5px black;
}
.shadow-black {
    box-shadow: 9px 9px 0px -5px black;
 }
 .shadow-white{
     box-shadow: 9px 9px 0px -5px white !important;
 }
.btn-custom-black{
    color:white !important;
    background-color: black;
    box-shadow: 9px 9px 0px -5px white !important;
    border: none !important;
}
.btn-custom-white{
    color:black !important;
    background-color: white;
    box-shadow: 9px 9px 0px -5px black !important;
    border: none !important;
}
.no-touch .bigtext {
    opacity: 1 !important;
}
.custom-width-limit {
    max-width: 1200px;
    margin: 0 auto;
}